.flexbox{
  align-content: center;
  padding-top: 200px
}


h1 {
  text-align: center;
  font-style: normal;
  font-family: monospace;
  font-size: 24px;
}


button{
  height: 50px;
  width:240px;
  color: #EDF5E1;
  font-family: sans-serif;
  font-weight: bold;
  background-color:#379683;
  border-color:#05386B;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
}

body {
  background-color: #5CDB95;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 18px;

  color: #379683;

  font-weight: bold;
}

p a{

  color:#05386B;
  font-weight: normal;
  text-decoration: none;
}
p span {
    display: inline;
    padding:5px;
}

.about-me{
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: flex;
  padding: 2px;
}

.about-me-container{
  padding: 1px;
  width: auto;
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
}

.mouseover-container{
  padding: 15px;
  display: flex;
  justify-content:space-around;
}
.city {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

.Zoe, .city, .about-me {
  color:#EDF5E1;
}

.Zoe {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

.cities{
  display: flex;
  justify-content: space-between;
}

.lines{
  display: flex;
  flex-wrap: wrap;
}

.emoji {
  opacity: 0;
  display: none;
}

h1:hover + .emoji {
  opacity: 1;
  transition: opacity 0.5s linear 0s;
  display: inline-flex;
  font-family: monospace;
  font-size: 18px;
  justify-content: space-between;
}

.city:hover + .emoji, .Zoe:hover + .emoji, .about-me:hover + .emoji {
  opacity: 1;
  transition: opacity 0.5s linear 0s;
  display: inline-flex;
  font-family: monospace;
  font-size: 18px;
  justify-content: space-between;
}

.randomdoggo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.randomImageContainer{
  width: 100px;
  height: auto;
}

img {
  margin: 0 auto;
  width: 350px;

}
